@import "tailwindcss";
@plugin "daisyui";

/* ---------- Light mode ---------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-secondary: #e5e7eb; /* light gray - matches bg-gray-200/base-200 */
}

/* ---------- Dark mode ---------- */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-secondary: #1f1f1f; /* dark gray */
}

/* ---------- Global styles ---------- */
html, body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* make default text inherit colors */
.dark .text-black,
.dark .text-gray-900,
.dark .text-gray-700,
.dark .text-gray-500,
.dark .text-gray-900 {
  color: white !important;
}
.dark .bg-gray-100 {
  background-color: #4B5563 !important;
}
/* Create utility classes for Tailwind compatibility */
/* .bg-base-200,
.bg-gray-200 {
  background-color: var(--background-secondary) !important;
} */

